<!doctype html>
<html lang="en">

<%- include('../partials/head', { title: 'Blog — Jinsu Kim' }) %>

    <body class=" blog-page">
        <%- include('../partials/navigation') %>

            <main class="blog-page-list">
                <ul class="blog-list">
                    <% (typeof posts !=='undefined' ? posts : []).forEach(function(post){ %>
                        <li class="blog-list__item items-responsive">
                            <div class="blog-list__item items-responsive__primary">
                                <a class="blog-list__item-link button size-m type-void" href="/posts/<%= post.slug %>">
                                    <%= post.title %>
                                </a>
                                <p class="blog-list__item-summary">
                                    <%= post.summary %>
                                </p>
                            </div>
                            <div class="blog-list__item-date items-responsive__secondary">
                                <small>
                                    <%= new Date(post.date).toLocaleDateString('en-US', { year: 'numeric' ,
                                        month: 'short' }) %>
                                </small>
                            </div>
                        </li>
                        <% }) %>
                </ul>
            </main>


            <%- include('../partials/footer') %>
    </body>

</html>